/*
Snapflow

Snapflow AI platform API Docs

API version: 1.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apiclient

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)

type WebhooksAPI interface {

	/*
		WebhookControllerBillingWebhook Handle Polar billing webhooks

		@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
		@return WebhooksAPIWebhookControllerBillingWebhookRequest
	*/
	WebhookControllerBillingWebhook(ctx context.Context) WebhooksAPIWebhookControllerBillingWebhookRequest

	// WebhookControllerBillingWebhookExecute executes the request
	WebhookControllerBillingWebhookExecute(r WebhooksAPIWebhookControllerBillingWebhookRequest) (*http.Response, error)
}

// WebhooksAPIService WebhooksAPI service
type WebhooksAPIService service

type WebhooksAPIWebhookControllerBillingWebhookRequest struct {
	ctx        context.Context
	ApiService WebhooksAPI
}

func (r WebhooksAPIWebhookControllerBillingWebhookRequest) Execute() (*http.Response, error) {
	return r.ApiService.WebhookControllerBillingWebhookExecute(r)
}

/*
WebhookControllerBillingWebhook Handle Polar billing webhooks

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@return WebhooksAPIWebhookControllerBillingWebhookRequest
*/
func (a *WebhooksAPIService) WebhookControllerBillingWebhook(ctx context.Context) WebhooksAPIWebhookControllerBillingWebhookRequest {
	return WebhooksAPIWebhookControllerBillingWebhookRequest{
		ApiService: a,
		ctx:        ctx,
	}
}

// Execute executes the request
func (a *WebhooksAPIService) WebhookControllerBillingWebhookExecute(r WebhooksAPIWebhookControllerBillingWebhookRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod = http.MethodPost
		localVarPostBody   interface{}
		formFiles          []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "WebhooksAPIService.WebhookControllerBillingWebhook")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/webhooks/billing"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
