# Database
DATABASE_URL="postgresql://username:password@localhost:5432/snapflow?schema=public"

# Prisma
# If you want to use a different database for Prisma during development
# PRISMA_DATABASE_URL="postgresql://username:password@localhost:5432/snapflow_dev?schema=public"